#!/bin/bash
export SAMPLEBOARDS=highbank
export SOCFAMILY=HIGHBANK
export SOCFLAVOUR=highbank
export SOCVENDOR=Calxeda
export auto_kernel_version="true"
export board_config_branch=linux-linaro
export board_config_frags="linaro/configs/highbank.conf"
export board_config_repo=git://git.linaro.org/kernel/linux-linaro-tracking.git
export distribution=quantal
export kernel_branch=linux-linaro
export kernel_repo=git://git.linaro.org/kernel/linux-linaro-tracking.git
export linaro_ubuntu_packaging_branch=linaro-ubuntu-packaging-3.7
export linaro_ubuntu_packaging_repo=git://git.linaro.org/ubuntu/linux-linaro-raring.git
export linaroconfigsboardflavour=highbank
export nearby_git=~/reference-git
export ubuntu_and_base_config_branch=linux-linaro
export ubuntu_and_base_config_repo=git://git.linaro.org/kernel/linux-linaro-tracking.git
export ubuntu_config_frag=linaro/configs/ubuntu-minimal.conf
